<table class="table row">
  <tbody>
    <tr>
      <td class="col-sm-1"><%= question.answers.length %> Answers</td>
      <td class="col-sm-8"><%= link_to question.title, question %></td>
      <td class="col-sm-3">asked <%= time_ago_in_words(question.created_at) %> ago by user@user.com</td>
    </tr>
  </tbody>
</table>
