<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span>
        <a href="/"><%= image_tag 'echo', :id => "echo", :class => "logo" %></a>
      </span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in?%>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-primary", :id => "signup-btn" %>
        <% else %>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete, :id => "logout-btn") %>  </li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Questions</a></li>
          <li><a href="#">Tags</a></li>
          <li><a href="#">Users</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
